@import '~antd/lib/style/themes/default.less';

.wrap {
  padding: @layout-header-padding;
  margin-top: 24px;

  .header {
    background: #fff;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  .wrap {
    // padding: 0 25px !important;
    padding: 0 !important;
    margin-top: 12px !important;
  }
}
