// global styles

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  .ant-layout-header {
    // padding: 0 25px !important;
    padding: 0 16px !important;
  }

  .ant-layout-footer {
    // padding: 12px 25px !important;
    padding: 6px 16px !important;
  }

  .ant-page-header {
    // padding: 8px 12px !important;
    padding: 4px 6px !important;
  }

  .ant-list-item {
    padding: 4px 8px !important;
  }

  .ant-menu-item {
    margin: 0 10px !important;
    margin-top: -1px !important;
    margin-bottom: 0 !important;
  }
}

.lake {
  img {
    max-width: 100%;
    padding: .8em 0;
  }

  .lake-codeblock-content {
    width: 100%;
    max-width: 100%;
  }

  iframe {
    margin: 0 auto;
    max-width: 100%;
    width: 1521px;
    height: 944px;
    max-height: 100%;
  }
}

